version: "3.9"
services:
  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ~/docker-persistence-storage/sonarr/config:/config
      - ~/docker-persistence-storage/sonarr/backups:/backups
      - ~/Downloads:/downloads
      - ~/Movies:/tvseries
      - ~/RecycleBin:/recycle_bin
    ports:
      - 8989:8989
    restart: unless-stopped
