version: "3.9"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
    network_mode: "host"
    volumes:
      - ~/docker-persistence-storage/jellyfin/config:/config
      - ~/docker-persistence-storage/jellyfin/cache:/cache
      - ~/docker-persistence-storage/jellyfin/media:/media
      - /Movies:/mnt
    restart: "unless-stopped"
    # Optional - alternative address used for autodiscovery
    environment:
      - TZ=Europe/London
#       - JELLYFIN_PublishedServerUrl=http://example.com
