---
version: "3.9"
services:
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - TRANSMISSION_WEB_HOME=/combustion-release/ #optional
      - USER=user #optional
      - PASS=youshallpass #optional
#       - WHITELIST=iplist #optional
#       - HOST_WHITELIST=dnsnane list #optional
    volumes:
      - ~/docker-persistence-storage/transmission/config:/config
      - ~/docker-persistence-storage/transmission/watch:/watch
      - ~/Downloads:/downloads
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
