version: "3.9"
services:
  uptime-kuma:
    image: louislam/uptime-kuma
    #To build from source, comment previous line and uncomment below
    #build: .
    container_name: uptime-kuma
    hostname: uptime_kuma_server
    volumes:
      - ~/docker-persistence-storage/uptime-kuma:/app/data
    ports:
      - 3001:3001
    environment:
      - UID=1000
      - GID=1000
    restart: unless-stopped
