version: "3.9"
services:
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ~/docker-persistence-storage/radarr/config:/config
      - ~/docker-persistence-storage/radarr/backups:/backups
      - ~/Downloads:/downloads
      - ~/Movies:/movies
      - ~/RecycleBin:/recycle_bin
    ports:
      - 7878:7878
    restart: unless-stopped
